<!-- templates/create_group.html -->
{% extends "base.html" %}
{% block title %}Create Group{% endblock %}
{% block content %}
<h2>Create a Group</h2>
<form method="POST" action="{{ url_for('main.create_group') }}">
    <div class="form-group mt-3">
        <label for="project_name">Project Name:</label>
        <input type="text" name="project_name" class="form-control" required>
    </div>
    <div class="form-group mt-3">
        <label for="description">Project Description:</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="form-group mt-3">
        <label for="github_id">GitHub ID:</label>
        <input type="text" name="github_id" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create Group</button>
</form>
{% endblock %}
